@font-face {
  font-family: 'Jetbrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/JetbrainsMono/JetBrainsMono-Regular.ttf'), local('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf'), local('ttf');
  font-display: swap;
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/Iosevka-Aile/iosevka-aile-regular.ttf'), local('ttf');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/Iosevka/iosevka-regular.ttf'), local('ttf');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: url('../fonts/IosevkaCustom/ttf/iosevka-custom-regular.ttf') format('truetype')
         , url('../fonts/IosevkaCustom/woff2/iosevka-custom-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: url('../fonts/IosevkaCustom/ttf/iosevka-custom-bold.ttf') format('truetype')
         , url('../fonts/IosevkaCustom/woff2/iosevka-custom-bold.woff2') format('woff2');
}
