{% macro list_posts(pages) %}
    <ul>
    {%- for page in pages %}
        {{ self::post_item(page=page) }}
    {% endfor -%}
    </ul>
{% endmacro list_posts %}
    
{% macro post_item(page) %}
    <section class="list-item">
      <h1 class="title">
        <a href={{ page.permalink }}>{{ page.title | lower }}</a>
            </h1>

            <time>{{ page.date | date(format="%Y-%m-%d") }}</time>

            <br />
            <div class="description">
                {% if page.description %}
                    {{ page.description }}
                {% elif page.summary %}
                    {{ page.summary | safe | striptags }}
                {% else %}
                    {% set hide_read_more = true %}
                {% endif %}
            </div>

            {% if not hide_read_more %}
                <a class="readmore" href={{ page.permalink }}>Read more ⟶</a>
            {% endif %}
    </section>
{% endmacro post_item %}
    
{% macro tags(page, short=false) %}
    {%- if page.taxonomies and page.taxonomies.tags -%}
        <span class="post-tags-inline">
            {%- if short -%}
                //&nbsp;
                {%- set sep = "," -%}
            {%- else -%}
                // tags:&nbsp;
                {%- set sep = "&nbsp;" -%}
            {%- endif -%}
            {%- for tag in page.taxonomies.tags -%}
                <a class="post-tag" href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}">#{{ tag }}</a>
                {%- if not loop.last -%}
                    {{ sep | safe }}
                {% endif -%}
            {%- endfor -%}
        </span>
    {% endif -%}
{% endmacro tags %}

{% macro page_header(title) %}
    <div class="page-header">
        {{ title | lower }}<span class="primary-color" style="font-size: 1.6em">.</span>
    </div>
{% endmacro content %}

{% macro content(page) %}
<main>
    <article>
        <div class="title">
            {{ post_macros::page_header(title=page.title) }}

            {% if page.date %}
                <div class="meta">
                    Posted on {{ page.date | date(format="%Y-%m-%d") }}

                    {% if page.draft %}
                        <span class="draft-label">DRAFT</span> 
                    {% endif %}
                </div>
            {% endif %}
        </div>

        {% if page.extra.tldr %}
            <div class="tldr">
                <strong>tl;dr:</strong>
                {{ page.extra.tldr }}
            </div>
        {% endif %}

        {# Optional table of contents #}
        {% if config.extra.toc | default(value=false) %}
            {% if page.toc and not page.extra.disable_toc %}
                <h1>table of contents</h1>
                <ul>
                {% for h1 in page.toc %}
                    <li>
                        <a href="{{ h1.permalink | safe }}">{{ h1.title | lower }}</a>
                        {% if h1.children %}
                            <ul>
                                {% for h2 in h1.children %}
                                    <li>
                                        <a href="{{ h2.permalink | safe }}">{{ h2.title | lower }}</a>
                                    </li>

                                    {% if h2.children %}
                                    <ul>
                                        {% for h3 in h2.children %}
                                            <li>
                                                <a href="{{ h3.permalink | safe }}">{{ h3.title | lower }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endif %}

        <section class="body">
            {{ page.content | safe }}
        </section>

        {{ self::tags(page=page, short=true) }}
    </article>
</main>
{% endmacro content %}
